.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #ffffff ;
    color:#0f0f0f;

}
a{ text-decoration:none;
    color:black;
  }

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}

.headerNavBar{
    background: #0a66c2 ;
    height:4rem;
}
    
.nav-link{
    color: #ffffff;

}
.normal:hover{
    color: #fdfd07;
}

.loginBtn{
    color: #ffffff;
    border:none;
}

.normal{
    color: #ffffff;
}

.active{
    font-weight: bold;
    color: #f3e2e2;
}

.callapseNav{
    margin-left: 3rem;
}